clusterName: nerv
endpoint: https://192.168.1.11:6443
talosVersion: v1.12.0
allowSchedulingOnControlPlanes: true
nodes:
  - hostname: melchior-01
    controlPlane: true
    ipAddress: 192.168.1.11
    installDisk: /dev/sda
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          primaryReselect: always
          primary: eth0
          interfaces:
            - eth0  # 10G (vmbr1)
            - eth1  # 2.5G (vmbr0)
        addresses:
          - 192.168.1.11/23
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.0.1
            metric: 1024
    schematic:
      customization:
        extraKernelArgs:
          # https://github.com/siderolabs/talos/issues/9852#issuecomment-2524001105
          - console=tty0
          - console=ttyS0
          # https://gist.github.com/gavinmcfall/ea6cb1233d3a300e9f44caf65a32d519
          - net.ifnames=0 # Simple network interface names
          - intel_iommu=on # PCI passthrough
          - iommu=pt # PCI passthrough
          - mitigations=off # Less security, faster puter
        systemExtensions:
          officialExtensions:
            # https://gist.github.com/gavinmcfall/ea6cb1233d3a300e9f44caf65a32d519
            - siderolabs/mei
            - siderolabs/intel-ucode
            - siderolabs/i915
            - siderolabs/thunderbolt
            - siderolabs/qemu-guest-agent
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    userVolumes:
      - name: data
        filesystem:
          type: ext4
        provisioning:
          diskSelector:
            match: disk.transport == 'virtio'
          minSize: 230Gi
          grow: true

    patches:
      # Disable CNI and kube-proxy for Cilium
      # - https://docs.cilium.io/en/stable/installation/k8s-install-helm/
      # - https://www.talos.dev/v1.10/kubernetes-guides/network/deploying-cilium/
      - |-
        cluster:
          network:
            cni:
              name: none
          proxy:
            disabled: true
      # Disable OOM controller to prevent killing processes during I/O pressure
      # https://github.com/siderolabs/talos/issues/12526#issuecomment-3707193227
      - "@./patches/oomconfig.yaml"
    # patches:
    # NOTE: Was required by https://github.com/siderolabs/talos/issues/10291#issuecomment-2637405378
    #       Alternative solution is to set `values.speaker.ignoreExcludeLB` to `true`
    # - |-
    #   - op: remove
    #     path: /machine/nodeLabels/node.kubernetes.io~1exclude-from-external-load-balancers

    # NOTE: Was required by https://github.com/siderolabs/talos/issues/10291#issuecomment-2639080043
    #       Alternative solution is to create a new namespace with the privileged label
    #       `pod-security.kubernetes.io/enforce: privileged` and deploy metallb in that namespace.
    # - |
    #   - op: remove
    #     path: /cluster/apiServer/admissionControl

  - hostname: balthasar-02
    controlPlane: true
    ipAddress: 192.168.1.12
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.1.12/23
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.0.1
            metric: 1024
    schematic:
      customization:
        extraKernelArgs:
          - console=tty0
          - console=ttyS0
          - net.ifnames=0
          - mitigations=off
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/qemu-guest-agent
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    userVolumes:
      - name: data
        filesystem:
          type: ext4
        provisioning:
          diskSelector:
            match: disk.transport == 'virtio'
          minSize: 230Gi
          grow: true
    patches:
      - |-
        cluster:
          network:
            cni:
              name: none
          proxy:
            disabled: true
      - "@./patches/oomconfig.yaml"

  - hostname: casper-03
    controlPlane: true
    ipAddress: 192.168.1.13
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.1.13/23
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.0.1
            metric: 1024
    schematic:
      customization:
        extraKernelArgs:
          - console=tty0
          - console=ttyS0
          - net.ifnames=0
          - mitigations=off
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/qemu-guest-agent
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/nonfree-kmod-nvidia-production
            - siderolabs/nvidia-container-toolkit-production
    userVolumes:
      - name: data
        filesystem:
          type: ext4
        provisioning:
          diskSelector:
            match: disk.transport == 'virtio'
          minSize: 230Gi
          grow: true
    patches:
      - |-
        cluster:
          network:
            cni:
              name: none
          proxy:
            disabled: true
      - "@./patches/oomconfig.yaml"
      - |-
        machine:
          kernel:
            modules:
              - name: nvidia
              - name: nvidia_uvm
              - name: nvidia_drm
              - name: nvidia_modeset
