apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# resources:
# - ./home-assistant.yaml
configMapGenerator:
  - name: home-assistant-config
    files:
      - ./config/configuration.yaml
generatorOptions:
  disableNameSuffixHash: true
namespace: apps
