---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zot-config
  namespace: apps
data:
  config.json: |
    {
      "distSpecVersion": "1.0.1",
      "storage": {
        "rootDirectory": "/var/lib/registry",
        "gc": true,
        "gcDelay": "1h",
        "gcInterval": "24h",
        "dedupe": true
      },
      "http": {
        "address": "0.0.0.0",
        "port": "5000"
      },
      "log": {
        "level": "info"
      },
      "extensions": {
        "search": {
          "enable": true,
          "cve": {
            "updateInterval": "24h"
          }
        },
        "scrub": {
          "enable": true,
          "interval": "24h"
        },
        "ui": {
          "enable": true
        }
      }
    }
